# LaTeX
thesis/*.aux
thesis/**/*.aux
thesis/*.log
thesis/*.out
thesis/*.toc
thesis/*.bbl
thesis/*.bcf
thesis/*.blg
thesis/*.run.xml
thesis/*.fls
thesis/*.fdb_latexmk
thesis/*.synctex.gz
thesis/main.pdf
# Lean
lean/.lake/
# Buch nie committen
*.pdf
